body {
    margin:0;
    padding: 0;
    font-family: 'Exo 2', 'Raleway', Arial;
}



ul li { list-style: none;}

a { text-decoration: none; }

.italic {
    font-style: italic;
}

.errorMessage {
    color: #B52626;
}

/****************** FORM STYLES ******************/

select {
    min-width: 200px;
    border: solid 1px #c9c9c9;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.9em;
}

input[type=text] {
    min-width: 200px;
    border: solid 1px #c9c9c9;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.9em;
    height: 15px;
    margin-top: 5px;
}

input[type=radio] {
    margin-left: 0;
}

label {
    font-size: 1.2em;
    font-weight: 600;
}

label.radioLabel, label.chkLabel {
    font-weight: normal;
}

p.inputLabel {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 600;
}

.buttonContainer {
    margin-top: 50px;
    text-align: center;
}

.button {
    background-color: #489890;
    color: #fff;
    border: solid 1px #489890;
    border-radius: 5px;
    min-width: 50px;
    padding: 3px 10px 5px 10px;
    font-size: 1.2em;
    margin-left: 20px;
}

.button.inline {
    margin-left: 0;
    vertical-align: bottom;
}

.button.image {
    width: 26px;
    height: 26px;
    min-width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 0;
    
}

.button.image.search {
    background-image: url('../Images/Icons/search.png');
}

.button:first-child {
    margin-left: 0;
}

.buttonContainer.large {
    display: inline-flex;
    margin-bottom: 50px;
}

.buttonContainer.large .button {
    padding: 30px 50px;
    min-width: 180px;
    
}

.buttonContainer.large.selection .button {
    background-color: #fff;
    color: #489890;
}

.buttonContainer.large.selection .button.selected {
    background-color: #489890;
    color: #fff;
}

.formContainer.large select {
    min-width: 200px;
    height: 50px;
    font-size: 1.2em;
}

.formContainer.large ul.checkboxList {
    display: inline-block;
}

.formContainer.large ul.checkboxList li {
    margin-bottom: 10px;
    text-align: left;
}

.formContainer.large ul.checkboxList li label {
    margin-left: 10px;
    top: -8px;
    position: relative;
}

.formContainer.large ul.checkboxList li span.fakeCheckbox {
    width: 30px;
    height: 30px;
    background-image: url('../Images/Icons/checkbox.png');
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.formContainer.large ul.checkboxList li span.fakeCheckbox.selected {
    background-image: url('../Images/Icons/ticked_checkbox.png');
}

/****************** END FORM STYLES ******************/
/****************** GRID STYLES ******************/
.grid .row .columns {
    background-color: #4db25c;
}

.columns {
    float: left;
    margin-left: 2.12766%;
    min-height: 1px;
    position: relative;
}

    .columns:first-child {
        margin-left: 0;
    }

    .columns.twelve {
        width: 100%;
        margin-left: 0;
    }

    .columns.eleven {
        width: 91.4895%;
    }

    .columns.ten {
        width: 82.9789%;
    }

    .columns.nine {
        width: 74.4682%;
    }

    .columns.eight {
        width: 65.9576%;
    }

    .columns.seven {
        width: 57.4469%
    }

    .columns.six {
        width: 48.9362%;
    }

    .columns.five {
        width: 40.4256%;
    }

    .columns.four {
        width: 31.9149%
    }

    .columns.three {
        width: 23.4043%;
    }

    .columns.two {
        width: 14.8936%;
    }

    .columns.one {
        width: 6.38299%;
    }

.row {
    width: 100%;
    margin-bottom: 15px;
}

    .row::before, .row::after, .clearfix::before, .clearfix::after {
        content: "";
        display: table;
    }

    .row::after, .clearfix::after {
        clear: both;
    }

/****************** END GRID STYLES ******************/

/****************** FRAMEWORK ******************/
.hidden {display:none;}

.mainContainer {

}

.mainContainer .header {
    background-color: #489890;
    color: #fff;
    width: 98%;
    padding: 10px 1% 10px 1%;
    border-bottom: solid 1px #fff;
    font-size: 0.8em;
    margin-bottom: 0;
}

.header a {
    color: #fff;
}

.header ul {
    margin-top: 0;
    margin-bottom: 0;
}

.header .logoContainer { float: left; }
.header .siteSelect { 
    padding: 0 20px 0 30px;
}

.header .hintToggle { 
    position: relative; 
    display: inline-block;
}

.header .hintToggle ul li {
    float:left;
    padding:5px;
}

.header .hintToggle ul li a {
    border: solid 2px #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.header .hintToggle ul li a.on {
    border-radius: 8px 0 0 8px;
}

.header .hintToggle ul li a.off {
    border-radius: 0 8px 8px 0;
}

.header .hintToggle ul li a.selected {
    background-color: #6D348D;
    color: #6D348D;
    cursor: default;
}
.header .links { float: right; }

.header .links .profileIcon .profileMenu {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #489890;
    border: solid 1px #fff;
    margin: 0;
    padding: 5px;
}

.header .links .profileIcon .profileMenu li { 
    float: none; 
    margin: 0 5px;
    padding: 8px 0;
    border-top: solid 1px #fff;
}

.header .links .profileIcon .profileMenu li:first-child {
    border-top: none;
}

.header .links ul { 
    float: right;
}

.header .links ul li {
    float: left;
    margin-left: 10px;
}

.mainMenu {
    background-color: #489890;
    color: #fff;
    border-right: solid 1px #fff;
    width: 80px;
    font-size: 0.8em;
    float: left;
}

.secondaryMenu {
    background-color: #489890;
    color: #fff;
    width: 80px;
    font-size: 0.8em;
    float: left;
}

.mainMenu a, .secondaryMenu a {
    color: #fff;
}

.mainMenu ul, .secondaryMenu ul {
    margin: 0;
    padding: 30px 0 0 0;
}

.mainMenu ul li, .secondaryMenu ul li {
    list-style: none;
    padding: 10px 10px 15px 10px;
    text-align: center;
    cursor: pointer;
}

.mainMenu ul li img, .secondaryMenu ul li img {
    margin-bottom: 10px;
}

.mainMenu ul li.selected, .secondaryMenu ul li.selected {
    background-color: #9EC5C0;
}

.rightOptions {
    border-left: solid 2px #489890;
    width: 280px;
    font-size: 0.75em;
    float: right;
    padding: 30px 10px 10px 10px;
    z-index: 10;
    position: relative;
    background-color: #fff;
    overflow: auto;
}

.rightOptions .outer {
    width: 100%;
    background-color: #fff;
}

.rightOptions .outer .tabs {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    right: 5px;
}

.rightOptions .outer .tabs .tab {
    padding-right: 10px;
    border-right: solid 1px #489890;
}

.rightOptions .outer .tabs .tab.information a,
.rightOptions .outer .tabs .tab.details a{
    border: solid 1px #489890;
    border-radius: 15px;
    color: #fff;
    background-color: #489890;
    padding: 2px 10px;
    font-size: 1.4em;
}

.rightOptions .outer .tabs .tab:first-child {
    border-right: none;
}

.rightOptions .outer .tab a {

}

.rightOptions .outer .tab .info {
    background-color: #fff;
}

.rightOptions .outer .tab a.icon {
    height: 25px;
    width: 25px;
    margin: 40px 0 0 0;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.rightOptions .outer .tab a.icon.filter {
    background-image: url('../Images/Icons/filter.png');
}

.rightOptions .outer .info p.icon {
    text-align: center;
}

.rightOptions .inner {
    width: 250px;
    border-left: solid 2px #489890;
    position:absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 30px;
}

.rightOptions .inner p { 
    width: 100%;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 12px;
}

.rightOptions .inner p a.button {
    background-color: #489890;
    color: #fff;
    border: solid 1px #489890;
    border-radius: 5px;
    min-width: 50px;
    padding: 5px 10px;
    font-size: 1em;
    float: right;
}

.rightOptions .inner p a.button.selected {
    background-color: #6D348D;
}

.rightOptions h3 { 
    
    font-size: 1.4em;
    text-align: center;
    color: #489890;
    margin-bottom: 30px;
}

.rightOptions .formContainer {
    padding-bottom: 40px;
    border-bottom: solid 2px #489890;
}

.rightOptions .pageSelection { 
    bottom: 0; 
    position: absolute;
    z-index: 10;
}

.rightOptions .inner .pageContainer, .rightOptions .inner .linkedItemContainer {
    border-bottom: solid 2px #489890;
}

.rightOptions .inner .pageContainer p, .rightOptions .inner .linkedItemContainer p {
    position: relative;
    display: inline-block;
}

.rightOptions .inner p span.label {
    font-weight: bold;
    float: left;
}

.rightOptions .inner p a.icon
{
    height: 25px;
    width: 25px;
    margin-right: 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

.rightOptions .inner p a.icon.disabled {
    cursor: help;
}

.rightOptions .inner p a.icon.link {
    background-image: url('../Images/Icons/Item/link.png');
}

.rightOptions .inner p a.icon.unlink {
    background-image: url('../Images/Icons/Item/unlink.png');
}

.rightOptions .inner p a.icon.link.disabled {
    background-image: url('../Images/Icons/Item/link_disabled.png');
}

.rightOptions .inner p a.icon.unlink.disabled {
    background-image: url('../Images/Icons/Item/unlink_disabled.png');
}

.main {
    position: relative;
    display: inline-block;
    width: 100%;
}

.mainSection {
    position: relative;
    overflow: hidden;
}

.mainSection .mainSectionInner { 
    margin: 50px;
}

.mainSection .welcome {
    text-align: center;
}

.mainSection .welcome h1{
    font-size: 2.8em;
}

.mainSection .welcome h2 {
    font-weight: normal;
}

.mainSection .welcome p.siteName {
    font-size: 3em;
}

.mainSection .welcome p {
    line-height: 1.4em;
}

.mainSection .bottomOptions {
    height: 70px;
    background-color: #9E9E9E;
    color: #489890;
    bottom: 0;
    position: absolute;
    left: 161px;
    text-align:center;
}

.mainSection .bottomOptions ul {
    padding-left: 0;
    margin-top: 10px;
}

.mainSection .bottomOptions ul li {
    float: left;
    color: #fff;
    margin-right: 20px;
    font-size: 0.8em;
    width: 50px;
    cursor: pointer;
}




/****************** END FRAMEWORK ******************/

/****************** PAGES ******************/

.pageListing .formContainer {
    margin-bottom: 10px;
    display: inline-block;
}

.pageListing .formContainer .button {
    font-size: 1em;
}

.pageSearchResults ul {
    margin-left: 0;
    padding-left: 0;
}

.pageSearchResults ul li {
    margin-right: 2%;
    width: 250px;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.pageItem .thumbnailHolder {
    border: solid 1px #c9c9c9;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 228px;
}

.pageItem.selected .thumbnailHolder {
    background-color: #489890;
    color: #fff;
}

.pageItem .thumbnailHolder p {
    margin: 5px 0;
}

.pageItem .thumbnailHolder .thumbnail {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pageListing .listingHeader {
    display: inline-block;
    position: relative;
}

.pageListing .listingHeader h2 {
    float: left;
}

.pageListing .listingHeader a.icon {
    height: 25px;
    width: 25px;
    margin: 22px 0 0 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

.pageListing .listingHeader a.icon.filter {
    background-image: url('../Images/Icons/filter.png');
}

ul.itemInfo {
    padding: 0 3px 0 0;
}

ul.itemInfo li {
    margin-bottom: 20px;
    font-size: 1.1em;
}

ul.itemInfo li label {
    font-size: 1.1em;
}

.page .row.top .columns {
    min-height: 200px;
}

.page .row.middle .columns {
    min-height: 500px;
}

.page .row.middle .columns.eight {
    width: 65.52%;
}


.page .row.bottom .columns {
    min-height: 200px;
}

.page .row .columns {
    border: solid 1px #c9c9c9;
}

.section .header {
    display: inline-block;
    position: relative;
    background-color: #489890;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

.section .header.selected {
    background-color: #6D348D;
}

.section .header .iconContainer {
    width: 100%;
}

.section .header .iconContainer .icon {
    float: right;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.section .header .iconContainer .icon.add {
    background-image: url('../Images/Icons/add_item_selected.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.rightOptions .inner ul.widgetList
{
    padding: 0 20px;
}

.rightOptions .inner ul.widgetList li {
    border: solid 1px #489890;
    color: #489890;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.3em;
    cursor: pointer;
}

/****************** END PAGES ******************/
/****************** WIDGETS ******************/

.widgetContainer {
    display: block;
    position: relative;
    margin: 12px 5px 5px 5px;
    border: solid 2px #489890;
    border-radius: 5px;
}
.widgetContainer .widgetHeader .title {
    padding: 20px 20px 0 20px;
    color: #489890;
    font-size: 1.2em;
    text-align: center;
}

.widgetContainer .widgetContent {
    
    padding: 20px;
    min-height: 300px;
    color: #489890;
    text-align: center;
    font-size: 1.2em;
    margin: 5px;
}

.widgetContainer.selected {
    border-color: #6D348D;
}

.widgetContainer a.delete {
    border: solid 2px #489890;
    border-radius: 15px;
    background-color: #fff;
    right: -8px;
    top: -10px;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #489890;
}

.widgetContainer.selected > a.delete {
    border-color: #6D348D;
    color: #6D348D;
}

.widgetContainer .thumbnailContainer {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.widgetContainer .thumbnailContainer .delete {
    position: absolute;
    font-size: 0.8em;
}

.widgetContainer .thumbnailContainer .thumbnail {
    border: solid 2px #489890;
    cursor: pointer;
    position: relative;
}

.widgetContainer .thumbnailContainer .thumbnail.selected{
    border-color: #6D348D;
}

.widgetContainer .thumbnailContainer .thumbnail.selected a.delete {
    border-color: #6D348D;
    color: #6D348D;
}

.widgetContainer .thumbnailContainer.banner .thumbnail {
    height: 155px;
    width: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer .icon {
    width: 75px;
    text-align: center;
    position: relative;
    display: inline-block
}

.widgetContainer .thumbnailContainer.product .thumbnail.iconContainer {
    width: 120px;
    border-style: dashed;
    height: 130px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.widgetContainer .thumbnailContainer.banner.triple .thumbnail {
    float: left;
}

.widgetContainer .thumbnailContainer.banner.triple.small
{
    width: 178px;
}

.widgetContainer .thumbnailContainer.banner.triple.small .thumbnail:first-child {
    margin-bottom: 7px;
}

.widgetContainer .thumbnailContainer.banner.triple.small .thumbnail
{
    height: 72px;
    width: 150px;
    padding: 0;
}

.widgetContainer .thumbnailContainer.banner.triple.small .thumbnail.iconContainer.add {
    height: 57px;
    width: 131px;
    padding-top: 10px;
    padding-left: 20px;
}

.widgetContainer .thumbnailContainer.banner.scrolling .thumbnail {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add
{
    border-style: dashed;
    height: 75px;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add {
    padding: 23px 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 125px;
}

.widgetContainer .thumbnailContainer.banner .thumbnail.iconContainer.add{
    width: 266px;
    height: 110px;
    padding:40px 0 6px 0;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add .icon div {
    height: 35px;
    width: 35px;
    float:left;
}

.widgetContainer .thumbnailContainer.banner.triple.small .thumbnail.iconContainer.add .icon div {
    height: 25px;
    width: 25px;
    float:left;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add .top.left {
    border-right: solid 1px #489890;
    border-bottom: solid 1px #489890;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add .top.right {
    border-left: solid 1px #489890;
    border-bottom: solid 1px #489890;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add .bottom.left {
    border-right: solid 1px #489890;
    border-top: solid 1px #489890;
}

.widgetContainer .thumbnailContainer .thumbnail.iconContainer.add .bottom.right {
    border-left: solid 1px #489890;
    border-top: solid 1px #489890;
}

.widgetContainer .widgetFooter {
    position: absolute;
    bottom: -1px;
    left: -1px;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    font-size: 0.8em;
    background-color: #489890;
    border-radius: 0 0 5px 5px;
    border: solid 1px #489890;
}

.widgetContainer.selected .widgetFooter {
    background-color: #6D348D;
    border: solid 1px #6D348D;
}

.widgetContainer .widgetFooter .iconContainer a {
    color: #fff;
    margin-right: 20px
}

.tinymceContainer {
    width: 800px;
    height: 500px;
}

div.mce-edit-area {
    min-height: 325px;
}

/****************** END WIDGETS ******************/

/****************** RESOURCES ******************/

.overlayContainerInner .resources {
    width: 850px;
    height: 500px;
}

.overlayContainerInner .resources .header .formContainer select {
    font-size: 0.75em;
}

.overlayContainerInner .resources .mainArea .files {
    height: 450px;
}

.overlayContainerInner .resources .mainArea .thumbnailHolder {
    border: solid 1px #808080;
    padding: 3px;
    float: left;
    margin: 0 8px 8px 0;
}

.overlayContainerInner .resources .mainArea .thumbnailHolder .thumbnail {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.overlayContainerInner .resources .mainArea .thumbnailHolder .thumbnail.upload {
    text-align: center;
    font-size: 0.85em;
    padding-top: 45px;
    height: 75px;
}

.overlayContainerInner .resources .mainArea .footer .formContainer input {
    font-size: 0.8em;
}

.overlayContainerInner .resources .mainArea .footer .formContainer .button.inline {
    font-size: 0.85em;
    position: relative;
    top: -6px;
}

.overlayContainerInner .folderList {
    height: 510px;
    overflow: auto;
}

.overlayContainerInner .folderList ul {
    padding-left: 0;
    margin-left: 22px;
}

.overlayContainerInner .folderList ul:first-child {
    margin-left: 0;
}

.overlayContainerInner .folderList ul li a {
    font-size: 0.75em;
    color: #4e4e4e;
}

.overlayContainerInner .folderList ul li a.folder {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 1em;
}

.overlayContainerInner .folderList ul li a.folderName:hover {
    text-decoration: underline;
}

.overlayContainerInner .folderList ul li a.folderName.selected {
    font-weight: bold;
}

/****************** END RESOURCES ******************/

/****************** MENUS ******************/

ul.itemsContainer { 
    margin: 0;
    padding: 0;
}

ul.itemsContainer li {
    margin-right: 2%;
    width: 250px;
    border: solid 1px #489890;
    float: left;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

ul.itemsContainer li.inactive {
    background-color: #DCF4F1;
}

ul.itemsContainer li.selected {
    background-color: #489890;
}

ul.itemsContainer li span.title {
    color: #489890;
    font-weight: bold;
}

ul.itemsContainer li span.subtitle {
    color: #808080;
    font-weight: bold;
    font-size: 0.8em;
}

ul.itemsContainer li span.subtitle.none {
    font-style: italic;
}

ul.itemsContainer li.selected span.title {
    color: #fff;
}

ul.itemsContainer li.selected span.subtitle {
    color: #c9c9c9;
}

ul.itemsContainer li.add { 
    background-image: url('../Images/Icons/add_item.png');
    background-position:center;
    background-repeat: no-repeat;
}

ul.itemsContainer li.add.selected { 
    background-image: url('../Images/Icons/add_item_selected.png');
}

.panel h3 {
    color: #6D348D;
}

.panel.disabled li {
    background-color: #F9F9F9;
    cursor: help;
}

.panel.disabled li.selected {
    background-color: #808080;
}

.panel.disabled li.inactive {
    background-color: #c9c9c9;
}

.panel.available li {
    background-color: #EBDBF4;
    border-color: #6D348D;
}

.panel.available li span.title {
    color: #6D348D;
}

.panel.available li.selected, .panel li.linked {
    background-color: #6D348D;
}

.panel.available li.selected span.title, .panel li.linked span.title {
    color: #fff;
}

.panel.available li.disabled {
    background-color: #F9F9F9;
    cursor: help;
}

/****************** END MENUS ******************/

/****** OVERLAY STYLES ******/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.7;
    z-index: 10000;
}

.overlayContainer {
    background: #ffffff;
    padding: 15px;
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 65537;
    border-radius: 10px;
}

.overlayContainer .overlayContainerInner {
    border: 1px solid #27687e;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    padding: 15px;
}

.overlayContainer .overlayContainerInner .buttonContainer .button {
    font-size: 1em;
}

.overlayContainer .close {
    position: absolute;
    top: -10px;
    right: -12px;
    z-index: 10000;
    background-color: #fff;
    border: solid 1px #489890;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 5px;
}


/****** END OVERLAY STYLES ******/

/** http://paletton.com/#uid=75A0u0kleqtbzEKgVuIpcmGtdhZ **/